/* Write your CSS here */
.bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    text-align: center;
    border-radius: 12px;
    padding: 25px;
}
.dark-mode{
    color: #ffffff;
    background-color: #000000;
}
.light-mode{
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
}
.heading{
    font-family: "Roboto";
    font-size: 30px;

}

.button {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 15px;
}